* {
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  font-family: 'SFPro';
}

@font-face {
  font-family: 'SFPro';
  src: url('../fonts/SFProDisplay-Regular.woff') format('woff'),
       url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.header {
  padding-top: 6px; /* Padding это отступы сверху */
  padding-bottom: 6px; /* Снизу */
  background-color: #0050B3;
}

.header-block {
  display: flex; /* Элементы располагаются в строчку */
  align-items: center; /* Расположение элементов относительно себя по центру */
  justify-content: space-between; /* Расположение элементов по краям */

  margin: auto; /* Выравнивание по горизонтали */
  max-width: 1200px; /* Максимальная ширина */
}

.search-input {
  width: 100%; /* Ширина максимальная, но ограничивается в 336px */

  width: 336px;

  padding: 5px 30px 5px 12px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;

  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat; /* Без повторения (добавляется 1 иконка) */
  background-position: right 12px center; /* Отступ справа 12 px */

  font-size: 14px;
  line-height: 22px; /* Высота строки */
}

.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  margin-right: 8px;
}

.user-name {
  color: white;
  font-size: 14px;
  line-height: 22px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-panel {
  margin-left: 1px; /* тут было 12 или 16 px */
  display: flex;
  align-items: center;
}

.navigation-link {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  margin-left: 12px;
}

.navigation-link:before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003A8C;
  margin-right: 12px;
}

.navigation-link:last-child:after {
  content: "";
  width: 1px;
  height: 16px;
  background: #003A8C;
  margin-left: 12px;
}

.header-icon {
  fill:#002766;
}

.icons-panel {
  display: flex;
  align-items: center;
}

.icons-link {
  margin-left: 17px;
  display: flex;
  align-items: center;
}

.header-icon:hover {  /* При наведении иконки становятся белыми */
  fill:white;
}

.icons-link:last-child:before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003A8C;
  margin-right: 12px;
}

.container {
  max-width: 1200px;  /* Содержимое имеет макс ширину в 1200px и выравнивается автоматически auto */
  margin: auto;
  display: flex;
}

.menu-sidebar {
  max-width: 192px;
  margin-top: 18px;
  margin-right: 12px;
}

.menu-sidebar .user {
  margin-left: 10px;
}

.menu-sidebar .user-avatar {
  width: 24px;
  height: 24px;
}

.menu-sidebar .user-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.nav-group {
  display: flex;
  flex-direction: column; /* элементы выстраиваются друг за другом */
  justify-content: center; /* элементы относительно друг друга выравниваются по центру */
  margin-top: 12px;
  margin-bottom: 24px;
}

.nav-link {
  padding: 4px 8px; /* отступы */
  display: flex;
  align-items: center; /* текст относительно картинок (messages и т.д.) выравнивается по центру */
  border-radius: 4px;
  text-decoration: none;
  color: #595959;
  line-height: 22px;
  font-weight: normal;
  font-size: 14px;
}

.nav-text {
  margin-left: 8px;
}

.nav-link.active {
  background: #FFFFFF;
  color: #262626;
}

.nav-title {
  margin-bottom: 4px;
  margin-top: 0px;
  color: #262626;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.main-feed {
  max-width: 588px;
  margin-top: 18px;
  flex-grow: 1;
}

.create-post {
  background: #FFFFFF;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

.create-post-header {
  padding: 9px 16px;
  background: #F5F5F5;
}

.create-post-title {
  color: #595959;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.create-post-body {
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: flex-start;
}

.create-post-input {
  max-width: 100%;
  padding-top: 8px;
  outline: none;
  max-width: 500px;  /* добавил тут этот параметр, чтобы не расплывался div с input */
}

.tag {
  background: #F5F5F5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.tag-icon {
  margin-right: 8px;
}

.create-post-footer {
  display: flex;
  align-items: center;
  padding: 0 16px 16px 16px;
  flex-wrap: wrap;
}

.create-post-footer:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}

.post {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin: 16px 0;
  padding: 16px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.post-header-icon {
  background-color: #FFFFFF;
  border: none;
}

.post-header .user-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
}

.post-author {
  text-decoration: none;
  width: 100%;

  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
}

.post-time {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}

.post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  text-decoration: none;
  margin-bottom: 16px;
}

.post-image {
  border: 1px solid #BFBFBF;
  border-radius: 1px;
  max-width: 100%;
}

.likes {
  margin-top: 9px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}

.likes-counter {
  color: #595959;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-right: 4px;
}

.post-footer {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.post-button {
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
}

.post-button-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;

  margin-left: 8px;
}

.post-footer:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}